html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
}

header {
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: #D3E0EA;
    border-bottom: 1px solid black;
}

.desktop-nav {
    display: none;
}

#header-line {
    border: none;
    background: none;
    font-size: 20px;
    margin: 7px;
}

.mobile-nav {
    width: 100%; 
}

.mobile-nav > nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px 10px;
    font-size: 1.2rem;
}

nav > i {
    font-size: 7.5vw;
    font-weight: 300;
    margin: 10px 0;
    height: 40vh;
}

nav > a {
    padding-top: 10px;
}

a {
    text-decoration: none;
}

nav a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

p {
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

.contact a {
    color: #ffffff;
}

.contact i {
    font-size: 16px;
}

.about {
    display: flex;
    background-color: #276678;
    color: #ffffff;
}

.about-r {
    margin-right: 6vw;
}

.about-l {
    display: flex;
    height: fit-content;
}

h1 {
    font-size: 2.5rem;
    margin-top: 5vw;
}

.smallbox {
    display: flex;
    justify-content: space-between;
    margin-top: 12vw;
}

.smallbox div:hover {
    margin-top: -2px;
    margin-bottom: -1px;
    background-color: #41a0bd;
}

.smallbox div {
    background-color: rgb(137, 222, 226);
    font-size: 0.6rem;
    padding: 5px 30px;
    margin-left: 2vw;
}

.contact {
    padding: 5px;
}

.contact:first-of-type {
    margin-top: 15px;
}

.material-icons {
    margin-left: 10px;
}

img:first-of-type {
    width: 20vw;
    margin-right: -30vw;
    margin-top: 5vw;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p:first-of-type {
    font-size: 1.0rem;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 4vw 6vw;
    background-color: #B5EAEA;
}

.project-l {
    padding: 0vw 0vw 0vw 0vw;
    order: 1;
}

.project-name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.project-date {
    font-size: 1.2rem;
    margin-bottom: 5vw;
}

.project-img {
    order: 2;
    height: 60vw;
}

.project-img img {
    width: 85vw;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-p {
    order: 3;
}

.form-section {
    display: flex;
    background-color: #D3E0EA;
    margin: 0 auto;
    padding: 3vw;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

fieldset {
    border: none;
}

input {
    display: block;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.3em;
    border: none;
    border-bottom: 1px solid #000;
}

::placeholder {
    color: #000;
}

textarea {
    margin-top: 20px;
    width: 80vw;
    height: 30vw;
}

.submit {
    margin-top: 20px;
    width: 150px;
    background-color: rgb(243, 243, 243);
    border: 1px solid #000;
}

footer {
    position: relative;
    display: flex;
    padding: 10px ;
    background-color: #4B778D;
}

footer .copyright {
    position: absolute;
    top: 50%;
    right: calc(50% - 60px);
    color: #ffffff;
    font-size: 0.7rem;
}

.whatsapp {
    position: fixed;
    left: 0;
    top: 80vh;
    width: 45px;
    height: 40px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #24CC63;
}

.whatsapp:hover {
    background-color: #ffffff;
}

.fa-whatsapp {
    color: #ffffff;
    font-size: 22px;
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
}

.whatsapp:hover .fa-whatsapp {
    color: #24CC63;
}

.back-to-top {
    font-size: 40px;
    color: #ffffff;
    bottom: 20px;
    right: 30px;
}


/*beginning of desktop version*/

@media only screen and ( min-width: 1024px ) {

    header {
        position: sticky;
        top: 0;
        bottom: 0;
        background-color: #D3E0EA;
        border-bottom: 1px solid black;
    }

    .mobile-nav {
        display: none;
    }
    
    .desktop-nav {
        display: flex;
        justify-content: space-evenly;
        padding: 10px 300px;
        font-size: 1.0rem;
    }

    nav a {
        margin: 0 30px;
    }
    
    nav a:hover {
        opacity: 0.7;
        text-decoration: underline;
    }

    p:first-of-type {
        width: 55vw;
        font-size: 1.3rem;
        margin-bottom: 15vh;
    }

    img:first-of-type {
        margin-right: 8vw;
    }
    
    .smallbox {
        justify-content: flex-start;
        font-weight: bold;
        margin-top: 0;
    }

    .contact i {
        font-size: 1.2rem;
    }

    .contact a {
        font-size: 1.2rem;
    }

    .project {
        flex-direction: row;
    }

    .project-img {
        order: 0;
        height: auto;
    }

    .project-img img {
        width: 25vw;
        margin-right: 0;
    }

    .project-l {
        margin-right: 3vw;
        order: 0;
    }

    .project-p {
        order: 0;
        margin: 80px -15vw 100px 0px;
    }

    .project-name-and-date {
        width: 15vw;
    }

    .project-name {
        margin-top: 0;
    }
    
    textarea {
        width: 45vw;
        height: 10vw;
    }


    
}
